{% load static %}
<div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close">
            <span class="icofont-close js-menu-toggle"></span>
        </div>
    </div>
    <div class="site-mobile-menu-body"></div>
</div><nav class="site-nav">
    <div class="container">
        <div class="menu-bg-wrap">
            <div class="site-navigation">
                <a href="#" class="logo m-0">Canaco<span class="text-primary">.</span></a>

                <div class="site-navigation-center text-center">
                    <form action="#" class="search-form d-inline-block d-lg-none">
                        <input type="text" class="form-control" placeholder="Buscar...">
                        <span class="bi-search"></span>
                    </form>
                    
                    <ul class="js-clone-nav d-none d-lg-inline-block text-start site-menu mx-auto">
                        <li class="active"><a href="">Inicio</a></li>
                        <li class="has-children">
                            <a href="#">Categoría</a>
                            <ul class="dropdown">
                                <li><a href="">Todas</a></li>
                                <li><a href=""></a></li>
                            </ul>
                        </li>
                        <li><a href="">Perfil</a></li>
                    </ul>
                </div>

                <div class="site-navigation-actions">
                    <!-- Nota: La etiqueta 'a' de abajo tiene clases ajustadas por el corte lateral de la imagen -->
                    <a href="#" class="burger ms-auto site-menu-toggle js-menu-toggle d-inline-block d-lg-none light">
                        <span></span>
                    </a>
                    {% if request.user.is_authenticated %}
                        <div class="d-none d-lg-flex align-items-center justify-content-end gap-2">
                            <a href="" class="text-white"></a>
                            <form method="post" action="">
                                <button type="submit" class="btn btn-sm btn-outline-light">Cerrar sesión</button>
                            </form>
                        </div>
                    {% else %}
                        <div class="d-none d-lg-flex align-items-center justify-content-end gap-2">
                            <a href="" class="text-white">Iniciar sesión</a>
                            <a href="" class="btn btn-sm btn-outline-light">Registro</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</nav>